@import url('./global.css');

nav {
   position: fixed;
   transition: height .3s ease-in-out;
}

.navOn {
   height: 3rem;
   backdrop-filter: blur(2px);
   background: rgba(255, 255, 255, 0.5);
   box-shadow: .5px 0 3px gray;

   & .icon {
      gap: unset;

      & .logo {
         transform: scale(.5);
      }
      & p {
         color: black;
         font-size: small;
      }
   }
   & .btn {
      transform: scale(0.5) !important;
   }
}

main {
   
   & ::-webkit-scrollbar {
      height: .3rem;
   }

   & ::-webkit-scrollbar-thumb {
      background: #000;
      border-radius: 1rem;
   }
   
   & ::-webkit-scrollbar-track {
      background: white;
   }

   & .image-slide-container {
      scroll-snap-type: x mandatory;
      white-space: nowrap;
      width: 700vw;
      width: auto;
      height: 100svh;
      overflow: auto hidden;
      
      
      & img {
         scroll-snap-align: center;
         display: inline-block;
         flex-grow: 2;
         user-select: none;
         width: 100%;
         height: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ;
         object-fit: cover;
      }
   }
}